<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="StorageDirectory" value="C:/Users/Пользователь/Desktop/КСиС"/>
      <add key="Url" value="http://localhost:8888/storage/"/>
      <add key="Copy" value="X-Copy-From"/>
    </appSettings>
</configuration>